body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebf3fa;
    
}
*{
    color: rgb(0, 0, 0);
}
nav{
    background-color: white;
}
#toCod{
    padding: 20px 184px 0px 0px;
}
#light{
    margin: 10px 150px 0px 10px;
}
#enter{
   margin: 0px 0px 20px 0px;
}
nav>a{
    font-size: smaller;

    padding: 0px 10px 50px 10px;
}
nav>a:hover{
    
    font-size: larger;
    background-color: rgb(209, 226, 226);
    border-bottom: 2px;
    border-bottom-color: rgb(142, 230, 222);
}
nav>button{
    background-color: rgb(49, 170, 152);
    border-radius: 10%;
   height: 30px;
border: 0px;
}

nav{
    vertical-align: middle;
} 
#title>span{
    font-weight: bold;
    margin:80px;
}
#co>#improve{border: 2px solid  rgb(153, 143, 143);
  display: inline-block;
  vertical-align: middle;
background-color: white;
width: 300px;
height: 120px;
border-radius: 15px;
margin:0 50px 0 10px;
padding: 20px;
}

#co>#dev{
  display: inline-block;
  vertical-align: middle;
  border: 2px solid  rgb(153, 143, 143);
 background-color: white;
width: 300px;
height: 120px; 
border-radius: 15px;
margin:0 50px 0 10px;
padding: 20px;

}
#co>#save{
  display: inline-block;
  vertical-align: middle;
  border: 2px solid rgb(153, 143, 143) ;
background-color: white;
width: 300px;
height: 120px;
border-radius: 15px;
margin:0 50px 0 10px;
padding: 20px;
}
